
<!-- courses Start -->
<div class="container">
    <h2>Our Courses</h2>
    <div class="container row ">
        <div class="col-md-3">
            <a class="text-decoration-none" href="..">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/slider-image1.jpg" alt="" class="card-img-top">
                    </div>
                    <div class="card-body" id="cat-body">
                        <h6 class="card-title text-center font-weight-bold">Programming language</h6>
                        <p class="card-text text-center">This Course is Related to Java Basic</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="text-decoration-none" href="..">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/slider-image2.jpg" alt="" class="card-img-top">
                    </div>
                    <div class="card-body" id="cat-body">
                        <h6 class="card-title text-center font-weight-bold">Basic English</h6>
                        <p class="card-text text-center">This  is Enelish related Quiz</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="text-decoration-none" href="..">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/slider-image3.jpg" alt="" class="card-img-top">
                    </div>
                    <div class="card-body" id="cat-body">
                        <h6 class="card-title text-center font-weight-bold">Basic Mathmatices</h6>
                        <p class="card-text text-center">This is mat related Quiz</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="text-decoration-none" href="..">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/courses-image1.jpg" alt="" class="card-img-top">
                    </div>
                    <div class="card-body" id="cat-body">
                        <h6 class="card-title text-center font-weight-bold">General Knowledge</h6>
                        <p class="card-text text-center">This  is General Knowledge Related quiz</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container row mt-4">
        <div class="col-md-3">
            <a class="text-decoration-none" href="..">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/courses-image2.jpg" alt="" class="card-img-top">
                    </div>
                    <div class="card-body" id="cat-body">
                        <h6 class="card-title text-center font-weight-bold">ICT Knowledge</h6>
                        <p class="card-text text-center">This  is ICT Related Quiz</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="text-decoration-none" href="..">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/courses-image3.jpg" alt="" class="card-img-top">
                    </div>
                    <div class="card-body" id="cat-body">
                        <h6 class="card-title text-center font-weight-bold">Genaral Science</h6>
                        <p class="card-text text-center">This  is General Science Related Quiz</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="text-decoration-none" href="..">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/courses-image4.jpg" alt="" class="card-img-top">
                    </div>
                    <div class="card-body" id="cat-body">
                        <h6 class="card-title text-center font-weight-bold">computer basic</h6>
                        <p class="card-text text-center">This  is Computer Basic quiz</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="text-decoration-none" href="..">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/courses-image5.jpg" alt="" class="card-img-top">
                    </div>
                    <div class="card-body" id="cat-body">
                        <h6 class="card-title text-center font-weight-bold">International Knowledge</h6>
                        <p class="card-text text-center">This is International Quiz
                    </div>
                </div>
            </a>
        </div>
    </div>
</div><br><br>
